body, table, div, canvas, footer {
	margin: 0;
	padding: 0;
}
body {
	background-color: #bbb;
}

.wrapper {
    position: relative;
	margin: auto;
    width: 400px;
    height: 304px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#content {
	width: 100%;
}


table {
	text-align: center;
    margin: auto;
    display: block;
	width: 200px;
}
table tr td:first-child {
	min-width: 100px;
	text-align: right;
	padding-right: 5px;
}

table tr td:last-child {
	min-width: 100px;
	text-align: left;
	padding-left: 5px;
}

footer{
	font-size: 12px;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	
}